<!--
Page to have the content of the tabs
-->

<div id="content-tabs">
    <div class="row">
        <div class="col-md-9">
            <h6>Steps</h6>
            <div id="content-steps-heating" class="content-steps">
                <img src="src/static/img/no-step-heating.png" alt="steps" title="step" />
            </div>
        </div>
        <div class="col-md-3">
            <a href="#!" id="add-step-heating" class="elements-hidden">
                <img src="src/static/img/add-step.png" alt="Add steps" title="Add step" />
            </a>
            &nbsp;
            <a href="#!" id="delete-step-heating" class="elements-hidden">
                <img src="src/static/img/delete-step.png" alt="Delete steps" title="Delete step" />
            </a>
        </div>
    </div>
</div>
