/* Cascade Style Sheet*/

/* Elements identifiers */

#navbar-menu{
    z-index: 1;
}

/* Styles for the dropdown menu */
#jsddm{	
    margin-top: 0px;
    padding: 0;
}

#jsddm li{	
    float: left;
    list-style: none;
}

#jsddm li a{
    display: block;
    background: #0080FF;
    padding: 5px 12px;
    text-decoration: none;
    border-right: 1px solid white;
    width: 90px;
    color: #EAFFED;
    white-space: nowrap;
    font: 14px "Roboto";
}

#jsddm li a:hover{
    background: #000;
}

#jsddm li ul{
    margin: 0;
    margin-left: 30px;
    padding: 0;
    position: absolute;
    visibility: hidden;
    border-top: 1px solid white;
    z-index: 2;
}

#jsddm li ul li{	
    float: none;
    display: inline;
}

#jsddm li ul li a{	
    width: 90px;
    background: #0080FF;
}

#jsddm li ul li a:hover{
    background: #000;
}
/* End styles for the dropdown menu */


/* CSS Classes */

.padding20{
    padding: 20px;
}

.padding5{
    padding: 5px;
}

.padding-right50{
    padding-right: 50px;
}

.height35rem{
    height: auto !important;
}

.align-div{
    align-content: center;
    padding: 5px;
}

.width100{
    width: 100%;
}

.align-right-options{
    margin-left: 500px;
}

/*.elements-inline{
    display: inline;
    padding: 5px;
}*/

.line-height-recipes{
    line-height: 0.8em;
}

.elements-hidden{
    visibility: hidden;
}

.image-selected{
    opacity: 0.4;
}

.size-text-date{
    width: 130px;
}

.size-list-box{
    width: 100%;
    height: 200px;
}

.div-card-body-d-flex{
    align-self: center;
    align-items: center;
    align-content: center;
    padding: 0px;
}

.table-time{
    padding-bottom: 0px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.td-table-time{
    padding-bottom: 0px; 
    padding-top: 0px;
}

.caption-images-steps{
  height: 0px; 
  font-weight: bold; 
  font-size: 12px;  
}

.hide-close .ui-dialog-titlebar-close{ 
    display: none; 
}

.content-steps{
    width: auto;
    height: 92px;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 10px;
    background: #F2F2F2;
    white-space: nowrap;
    margin: 5px;
}

.content-steps > div{
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
    padding: 0;
    /*background: #FFF;*/
    display: inline-block;
    text-align: center;
    color: black;
    line-height: 50px;
}

.text-menu{
  margin-bottom: 0px;
  font-weight: 400;
}


/* HTML Selectors */ 

input::-webkit-input-placeholder{
  color: #e74c3c;
}

input:-moz-placeholder{
  color: #e74c3c;
}

input:-ms-input-placeholder{
  color: #e74c3c;
}

input[placeholder], select[placeholder] {
  color: #003eff;
}

